  <div class="row">
    <div class="col-md-2">
       <app-check-in-title></app-check-in-title>
    </div>
    <div class="col-md-1 nopadding">
      <span class="breadcrumb-pipe"></span> <span class="reviewTripOne">{{reviewTripOne}}</span> <span class="reviewTrip">{{reviewTrip | uppercase}}</span>
    </div>
    <div class="col-md-3">
      <span class="breadcrumb-pipe"></span> <span class="getBoardingDocumentTwo">{{getBoardingDocumentTwo}}</span> <span class="getBoardingDocument">{{getBoardingDocument | uppercase}}</span>
    </div>
  </div>